<style>
/* 1st,2nd,3rd card*/
.first, .second, .third {
	width: auto;
	height: auto;
	padding: 20px 30px;
	border: none;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.first {
	background-color: #D6BD68;
}

.second {
	background-color: #BBC2CC;
}

.third {
	background-color: #DAAA5E;
}
/* 4th place onwards card*/
.details {
    background-color: #f9f9f9;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.username {
	display: block;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
/*rank img CSS */
.rank {
	height: 60px;
	width: 60px;
	margin-top: 10px;
}
/* avatar img CSS */
.pfp {
	width: 150px;
	height: 150px;
	border-radius: 8px;
	margin: 10px;
}

</style>