<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Log In</title>
<link rel="icon" type="image/png" href="/img/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
.checkbox {
	margin-top: 40px;
	margin-left: 30px;
	width: 30px;
	height: 30px;
}

.forget {
	display: block;
	color: black;
	text-align: center;
	margin-top: 50px;
}

.forget:hover {
	color: #4C2B20;
}

</style>
</head>
<body>
	<div th:replace="fragments/header"></div>

	<div th:replace="fragments/login_style"></div>
	<main>
		<div class="container">
			<div class="login">
				<b><i
					style="position: absolute; top: 35px; margin-left: 30px; font-size: 25px;">
						Log In </i></b>

				<div>
					<label class="label-login" style="margin-top: 100px;" for="email">
						Email</label> <input class="input-login" type="text" id="email">
				</div>

				<div>
					<label class="label-login" style="margin-top: 30px;" for="pwd">
						Password</label> <input class="input-login" type="text" id="pwd">

				</div>
				<div>
					<input class="checkbox" type="checkbox"> <span> Keep
						me sign in</span>
				</div>
				<a href="/forget" class="forget"> Forget Password </a>

				<div>
					<a href="/" target="_self" class="btn-login" style="margin-top: 100px;"> Log In 
				
				</a>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="fragments/more_footer"></div>

</body>
</html>