<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wallet</title>
<link rel="icon" type="image/png" href="/img/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
.btn-redeem {
	background-color: #06B48B;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px;
}
</style>
</head>
<body>
	<div th:replace="fragments/header"></div>

	<div th:replace="fragments/rewards"></div>
	<main>
		<div class="container">
			<div class="wallet">
				<div>
					<span style="display: block; margin-top: 10px; text-align: center;">Points</span>
					<img style="width: 50px; height: 50px; margin-left: 70px;"
						src="img/point.png" />
				</div>
				<div class="row">
					<div class="col text-center btn-reward">
						<a href="/wallet" target="_self" class="btn custom"> <img
							style="width: 50px; height: 50px;" class="button-img"
							src="img/gift.png"/ > <span class="text">Rewards</span></a>
					</div>
									
					<div class="col text-center">
						<a href="/redeem" target="_self" class="btn custom"> <img
							style="width: 80px; height: 60px;" class="button-img"
							src="img/redeem.png"/ > <span class="text">Redeemed</span></a>
					</div>
					<hr class="line">
					<div class="mb-3 col-5" style="margin-left: 20px;">
						<select name="rewards" id="rewards"
							style="border-radius: 10px; height: 30px; font-style: italic; right: 5%;">
							<option value="">Filter By</option>
							<option value="Lowest to Highest">Lowest to Highest</option>
							<option value="Highest to Lowest ">Highest to Lowest</option>
						</select>
					</div>

				</div>
				<div class="reward">
					<img src="/img/point.png"
						style="height: 50px; width: 60px; padding: 5px 10px;">
					<div class="details">

						<p>Console</p>
						<p>
							100<img src="/img/point.png" class="reward-img">
						</p>
					</div>
					<button class="btn-redeem">Redeem</button>
				</div>
				<div class="reward">
					<img src="/img/point.png"
						style="height: 50px; width: 60px; padding: 5px 10px;">
					<div class="details">
						<p>Console</p>
						<p>
							200 <img src="/img/point.png" class="reward-img">
						</p>
					</div>
					<button class="btn-redeem">Redeem</button>
				</div>
				<div class="reward">
					<img src="/img/point.png"
						style="height: 50px; width: 60px; padding: 5px 10px;">
					<div class="details">
						<p>Console</p>
						<p>
							300<img src="/img/point.png" class="reward-img">
						</p>
					</div>
					<button class="btn-redeem">Redeem</button>
				</div>

			</div>


			<div style="position: fixed; bottom: 150px; width: 70%;">
				<a href="/history" class=" btn-wallet"
					style="text-decoration: none;"> Points History <img
					src="/img/history.png"
					style="width: 30px; height: 30px; margin-right: 10px;">

				</a>
			</div>

		</div>
	</main>
</body>
</html>
