<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Points History</title>
<link rel="icon" type="image/png" href="/images/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="fragments/style"></div>
	<div th:replace="fragments/history_style"></div>
	<div class="container">
		<div class="points">
			<div>
				<span style="display: block; margin-top: 10px; text-align: center;">My Point(s)</span>
				<a href="/history"> <img class="icon" src="images/point.png" />
				</a>
			</div>
			<div>
				<span style="display: block; text-align: center;">Number of
					rewards redeemed</span> <a href="/redeem"> <img
					style="width: 70px; height: 50px; margin-top: 5px;"
					src="images/redeem.png" />
				</a>
			</div>
			 <!-- Points History -->
			<!-- <div>
				<button class="history" onclick="window.location.href='/history'">
					<span>Points History</span> <img src="/images/history.png"
						class="icon">
				</button>
			</div> -->
		</div>
		<div class="points-history">
			<div style="padding-top: 15px;">
				<i> Points History <img src="/images/history.png"
					class="tnt-icon">
				</i>
			</div>

			<!-- User have not log in -->
		<!-- 	<div sec:authorize="!isAuthenticated()">
				<p class="msg">

					<button class="history" onclick="window.location.href='/login'">
						<span>Log In</span> <img class="img" src="images/login.png" />
					</button>

					to view your points history
				</p>
			</div> -->

			<!-- User logged in but no history -->
			<div>
				<div th:if="${#lists.isEmpty(pointsHistory)}">
					<p class="msg">
						No history yet! <br /> Psss: earn points by participating in
						<button class="history"
							onclick="window.location.href='/activities'">
							<span>Activities</span> <img class="img" src="images/point.png" />
						</button>
						to exchange for attractive
						<button class="history" onclick="window.location.href='/rewards'">
							<span>Rewards</span> <img class="img" src="images/gift.png" />
						</button>
				</div>

				<!-- User have history -->
				<div th:unless="${#lists.isEmpty(pointsHistory)}">
					<div class="history">
						<div class="details">
							<p
								th:text="${history.earned ? '+' + history.points : '-' + history.points}">+100</p>
							<p class="description"
								th:text="'Earned at ' + ${history.activity.activity}">Description</p>
						</div>
						<div class="history">
							<div class="details">
								<p class="deduct">
									-100<img src="/images/point.png" class="history-img">
								</p>
								<p class="description">Type: POINTS REDEMPTION</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
