<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<link rel="icon" type="image/png" href="/images/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<div th:replace="fragments/style"></div>
	<div th:replace="fragments/index_style"></div>
	<a sec:authorize="isAuthenticated()" href="/members/add"
		class="visitor">Add visitor</a>
	<div class="index">
		<div class="point">
			<div>
				<span style="display: block; text-align: center;">My Points</span> <a
					href="/history"> <img class="icon" src="images/point.png" />
				</a>
			</div>
			<div>
				<span style="display: block; text-align: center; margin-top: 5px;">Number
					of rewards redeemed</span> <a href="/redeem"> <img
					style="width: 50px; height: 40px; margin-bottom: 5px;"
					src="images/redeem.png" />
				</a>
			</div>
			<!-- Points History -->
			<div>
				<button class="history" onclick="window.location.href='/history'">
					<span>Points History</span> <img src="/images/history.png"
						class="icon">
				</button>
			</div>
		</div>
		<div class="leader">
			<i> Leaderboard <img src="/images/leaderboard.png"
				class="tnt-icon"></i>
			<!-- Leaderboard Entries -->
			<div id="overflow">
				<div class="tnt-row">
					<div th:each="member, iterStat : ${topMembers}">
						<div
							th:class="${iterStat.index == 0 ? 'first' : (iterStat.index == 1 ? 'second' : (iterStat.index == 2 ? 'third' : 'other'))}">
							<!-- Trophy Icons for Top 3 -->
							<img th:if="${iterStat.index < 3}"
								th:src="@{/images/{rank}.png(rank=${iterStat.index + 1})}"
								class="pfp">
							<!-- Default Rank Icon for Others -->
							<img th:if="${iterStat.index >= 3}" src="/images/profile.png"
								class="pfp">
							<p th:text="${member.name}">Username</p>
							<p>
								<span th:text="${member.points}">0</span> <img
									src="/images/point.png" class="icon">
							</p>
						</div>
						<!-- For Members Beyond Top 3 -->
						<div class="other" th:if="${iterStat.index >= 3}">
							<span class="placing" th:text="${iterStat.index + 1}">4</span> <img
								src="/images/profile.png" class="pfp">
							<div class="details">
								<span class="username" th:text="${member.name}">Username</span>
								<div class="score">
									<span th:text="${member.points}">100</span> <img
										src="/images/point.png" class="icon">
								</div>
							</div>
						</div>
					</div>
					<!-- No Members Message -->
					<div th:if="${#lists.isEmpty(topMembers)}">
						<p>No members available for the leaderboard yet!</p>
					</div>
				</div>
			</div>
		</div>
</body>
</html>