<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Activities</title>
<link rel="icon" type="image/png" href="/images/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
</head>
<body>
	<div th:replace="fragments/style"></div>
	<div th:replace="fragments/activities_style"></div>
	<div class="container">
		<div class="activity">
			<i> Add Activity</i>
			<form class="needs-validation" th:action="@{/activities/save}"
				th:object="${activities}" method="post"
				enctype="multipart/form-data" novalidate>
				<div>
					<label class="label-activity" for="diploma_select">Diploma</label>
					<select class="input-activity" id="diploma_select"
						th:field="*{diploma}" required>
						<option value="">Select your diploma</option>
						<option th:each="diploma : ${diplomaList}"
							th:value="${diploma.id}" th:text="${diploma.name}"></option>
						<option value="CIP">CIP</option>
						<option value="DAAA">DAAA</option>
						<option value="DCDF">DCDF</option>
						<option value="DECM">DECM</option>
						<option value="DFT">DFT</option>
						<option value="DIT">DIT</option>
					</select>
					<div class="invalid-feedback">Please select your diploma!</div>
					<p class="text-danger" th:if="${#fields.hasErrors('diploma')}"
						th:errors="*{diploma}"></p>
				</div>

				<div>
					<label for="activities_booth" class="label-activity">Booth</label>
					<input id="activities_booth" class="input-activity" type="text"
						th:field="*{booth}" required minlength=3 maxlength=100>
					<div class="invalid-feedback">Please enter a valid booth</div>
					<p class="text-danger" th:if="${#fields.hasErrors('booth')}"
						th:errors="*{booth}"></p>
				</div>

				<div>
					<label for="activitiesImages" class="label-activity">Activity
						image: </label> <input type="file" class="input-activity"
						id="activitiesImages" name="activitiesImages"
						accept="images/png, images/jpeg" required />
					<div class="invalid-feedback">Please enter a valid Image.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('imagesName')}"
						th:errors="*{imagesName}"></p>
				</div>

				<div>
					<label for="activities_activity" class="label-activity">Activity</label>
					<input id="activities_activity" class="input-activity" type="text"
						th:field="*{activity}" required minlength=3 maxlength=50>
					<div class="invalid-feedback">Please enter a valid activity</div>
					<p class="text-danger" th:if="${#fields.hasErrors('activity')}"
						th:errors="*{activity}"></p>
				</div>

				<div>
					<label for="activities_description" class="label-activity">Description</label>
					<input id="activities_description" class="input-activity"
						type="text" th:field="*{description}" required minlength=3
						maxlength=100>
					<div class="invalid-feedback">Please enter a valid
						description</div>
					<p class="text-danger" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></p>
				</div>

				<div>
					<label for="activities_points" class="label-activity">Points</label>
					<input id="activities_points" class="input-activity" type="number"
						step=1 th:field="*{points}" required min=10>
					<div class="invalid-feedback">Please enter a valid points.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('points')}"
						th:errors="*{points}"></p>
				</div>
				<div class="btn-container">
					<input class="btn" type="submit" value="Add activity">
				</div>
			</form>
			<!-- Form Validation -->
			<script>
				'use strict'

				var form = document.querySelector('.needs-validation')

				form.addEventListener('submit', function(event) {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				})
			</script>
			<!-- End Form Validation -->

		</div>
		<script>
			function myFunction() {
				alert("Activity has been added sucessfully!");
			}
		</script>
	</div>
</body>
</html>
