<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home</title>
<link rel="icon" type="image/png" href="/images/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
</head>
<body>
	<div th:replace="fragments/style"></div>
	<div th:replace="fragments/index_style"></div>
	<div class="container">
	<a href ="/members/add" class="visitor" >Add visitor</a>
		<div class="point">
			<div>
				<span style="display: block; margin-top: 10px; text-align: center;">Points</span>
				<a href="/history"> <img style="width: 40px; height: 40px;"
					src="images/point.png" />
				</a>
			</div>
			<div>
				<span style="display: block; text-align: center;">Number of
					rewards redeemed</span> <a href="/redeem"> <img
					style="width: 70px; height: 50px; margin-top: 5px;"
					src="images/redeem.png" />
				</a>
			</div>
		</div>
		<div class="leader">
	
			<i> Leaderboard </i>
			<div class="first">
				<img class="pfp" src="/images/first.png"> <img class="pfp"
					src="/images/profile.png">
				<p>Username</p>
				<p>
					500 <img class="pfp" src="/images/point.png">
				</p>
			</div>
			<div class="second">
				<img class="pfp" src="/images/second.png"> <img class="pfp"
					src="/images/profile.png">
				<p>Username</p>
				<p>
					400 <img class="pfp" src="/images/point.png">
				</p>
			</div>
			<div class="third">
				<img class="pfp" src="/images/third.png"> <img class="pfp"
					src="/images/profile.png">
				<p>Username</p>
				<p>
					300 <img class="pfp" src="/images/point.png">
				</p>
			</div>
			<div class="other">
				<span class="placing">4</span> <img class="pfp"
					src="/images/profile.png">
				<div class="details">
					<span class="username">Username</span>
					<div class="score">
						100 <img src="/images/point.png" class="pfp">
					</div>
				</div>
			</div>
			<div class="other">
				<span class="placing">5</span> <img class="pfp"
					src="/images/profile.png">
				<div class="details">
					<span class="username">Username</span>
					<div class="score">
						50 <img src="/images/point.png" class="pfp">
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>