<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Members</title>
<link rel="icon" type="image/png" href="/images/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
</head>
<body>
	<div th:replace="fragments/style"></div>
	<div th:replace="fragments/members_style"></div>
	<div class="container">
		<div class="members">
			<i> Members </i>
			<div>
				<input type="text" class="search" placeholder="Search Visitor"
					id="filterInput">
			</div>
			<div class="other">
				<span class="placing">1</span> <img class="pfp"
					src="/images/profile.png">
				<div class="details">
					<span class="username">Username</span>
				</div>
			</div>
			<div class="other">
				<span class="placing">2</span> <img class="pfp"
					src="/images/profile.png">
				<div class="details">
					<span class="username">Username</span>
				</div>
			</div>

		</div>
		<div class="add-btn-container">
			<button class="add-btn"
				onclick="window.location.href='/activities/add'">Add Members</button>
		</div>
	</div>
	<script>
		function filterTable() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("filterInput");
			filter = input.value.toUpperCase();
			table = document.querySelector(".table");
			tr = table.getElementsByTagName("tr");

			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}

		document.getElementById("filterInput").addEventListener("input",
				filterTable);
	</script>
</body>
</html>