<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Rewards</title>
<link rel="icon" type="image/png" href="/images/nfc.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
</head>
<body>
	<div th:replace="fragments/style"></div>
	<div th:replace="fragments/rewards_style"></div>
	<div class="container">
		<div class="rewards">
			<div>
				<span style="display: block; margin-top: 10px; text-align: center;">Points</span>
				<a href="/history"> <img class="img" src="images/point.png" />
				</a>
			</div>
			<div class="label-container">
				<div class="label">
					<a href="/rewards" class="link"> <img class="img"
						src="images/gift.png">
						<p>Rewards</p>
					</a>
				</div>
				<div class="label">
					<a href="/redeem" class="link"> <img
						style="width: 80px; height: 60px;" src="images/redeem.png">
						<p>Redeemed</p>
					</a>
				</div>
			</div>
			<div class="filter">
				<select name="rewards" id="rewards"
					style="border-radius: 10px; height: 30px; font-style: italic; right: 5%;">
					<option value="">Filter By</option>
					<option value="Lowest to Highest">Lowest to Highest</option>
					<option value="Highest to Lowest ">Highest to Lowest</option>
				</select>
			</div>

			<div class="other">

				<div>
					<img class="reward-img" src="/images/djungelskog.jpg">
				</div>
				<div class="info">
					<span>djungelskog</span>
					<p>
						50 <img src="/images/point.png" class="point-img">
					</p>
				</div>
				<a href="/redeem" class="btn-rewards">Redeem</a>
			</div>
		</div>

		<div>
			<button class="history" onclick="window.location.href='/history'">
				<span>Points History</span> <img src="/images/history.png"
					style="width: 30px; height: 30px; margin-left: 10px;">
			</button>
		</div>

	</div>
	<!--  	<div class="history">
		<a href="/history" style="text-decoration: none; color: black;">
			Points History <img src="/images/history.png"
			style="width: 30px; height: 30px; margin-right: 10px;">
		</a>
	</div> -->
</body>
</html>
