<style>
footer.btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed; 
	width:100%;
	bottom: -10px;
}
.btn-custom {
	font-size: 20px;
	color: black;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

.btn-background {
	background-color: #607cac;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}

.button-img {
	width: 40px;
	height: 40px;
}

.text {
	display: block;
	margin-top: 5px;
}
</style>
<footer class="btn">
	<a href="/" target="_self" class="btn custom"> <img
		class="button-img" src="images/home.png" /> <span class="text">Home</span></a> 
	<a href="/wallet" target="_self" class="btn custom"> <img class="button-img"
		src="images/wallet.png" /> <span class="text">Wallet</span></a> 
	<a href="/more" target="_self" class="btn custom btn-background"> <img class="button-img"
		src="images/more.png" /> <span class="text">More</span></a>
</footer>



