<style>
.rewards {
	background-color: #ececeb;
	border-radius: 30px;
	width: 80%;
	height: auto;
	padding: 15px;
	border: 2px solid #06B48B;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.label-container {
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.label {
	width: auto;
	height: auto;
	padding: 20px 30px;
	border: none;
	border-radius: 20px;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link {
	text-decoration: none;
	color: black
}

.img {
	height: 60px;
	width: 60px;
}

.filter {
	display: flex;
	margin-bottom: 20px;
}

.other {
	background-color: #FFFFFF;
	width: 90%;
	padding: 20px 30px;
	border: none;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}

.reward-img {
	width: 150px;;
	height: auto;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.point-img {
	width: 40px;
	height: 40px;
}

.btn-rewards {
	background-color: #06B48B;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	height: 50px;
	margin-top: 100px;
	text-decoration: none;
}

.btn-redeem {
	background-color: #FF2400;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	height: 50px;
	margin-top: 100px;
}

.history {
	background-color : #ececeb; 
	border: 2px solid #06B48B;
	width: 80%;
	min-width: 300px;
	margin: 20px auto; 
	border-radius : 20px; 
	display : flex; 
	align-items : center;
	justify-content : center; 
	padding: 15px;
	color: black;
}
</style>